#search-form-div {
    margin: 20%;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.searchInput {
    border: 3px;
    border-bottom-color: rgb(12, 12, 12);
}