<div id="outerDiv">
    <div id="formDiv">
        <form [formGroup]="beerForm" (ngSubmit)="onSubmit()" id="search-form">
            <label id=searchInputLabel>
                Suche
                <input type="text" formControlName="query" placeholder="Finde dein Bier!" id="searchInput"
                    autocomplete="off" list="searchSuggestions">
                <datalist id="searchSuggestions">
                    <option *ngFor="let sugg of autoCompleteSugg" [ngValue]="sugg">
                        {{ sugg }}
                    </option>
                </datalist>
            </label>
            <h3>Mehr Optionen
                <span>
                    <button (click)="openExtraOptions()" type="button">
                        <fa-icon [icon]="faCaretRight" id="faCaretRight"></fa-icon>
                    </button>
                </span>
            </h3>

            <div formGroupName="extraOptions" *ngIf="extraOptionsToggle">
                <label>
                    Minimaler Alkoholgehalt
                    <input type="number" formControlName="minABV" class="input" step="0.1">
                </label>

                <label>
                    Maximaler Alkoholgehalt
                    <input type="number" formControlName="maxABV" class="input" step="0.1">
                </label>

                <label>
                    Braumethode
                    <select formControlName="brewMethod" placeholder="IPA, Cold Brew, etc..." class="selectBrewMethod">
                        <option *ngFor="let method of brewMethods.results" [ngValue]="method" id="method">
                            {{method}}
                        </option>
                    </select>
                </label>
            </div>

            <button type="submit" id="submitButton">
                Suche <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </form>
        <div id="brewMethodStats" *ngIf="searchResults">
            <p class="brewStatsClass">
                <span class="brewStatSpan">Treffer: </span>{{searchResults.aggs.num_hits}} Ergebnisse
            </p>

            <p class="brewStatsClass" *ngIf="searchResults.aggs.AllGrain">
                <span class="brewStatSpan">All Grain: </span>{{searchResults.aggs.AllGrain}} Ergebnisse   
            </p>

            <p class="brewStatsClass" *ngIf="searchResults.aggs.BIAB">
                <span class="brewStatSpan">BIAB: </span>{{searchResults.aggs.BIAB}} Ergebnisse
                
            </p>

            <p class="brewStatsClass" *ngIf="searchResults.aggs.extract">
                <span class="brewStatSpan">Extract: </span>{{searchResults.aggs.extract}} Ergebnisse
            </p>

            <p class="brewStatsClass" *ngIf="searchResults.aggs.PartialMash">
                <span class="brewStatSpan">Partial Mash: </span>{{searchResults.aggs.PartialMash}} Ergebnisse
            </p>
        </div>
    </div>
    <div id="homer-div" *ngIf="searchResults && !isLoading && searchResults.length === 0">
        <img src="../../assets/sad-homer.png" alt="There's no beer to be seen" id="homer">
        <p id="homerText">🌴 Kein Bier auf Hawaii 🌴</p>
    </div>

    <div *ngIf="searchResults" id="searchResults">
        <div *ngFor="let searchRes of searchResults.hits" class="searches">

            <div id="resultName">{{ searchRes.name }}</div>

            <div id="resultABV">{{ searchRes.abv }}%</div>

            <div id="resultBrewMethod">Braumethode: {{ searchRes.brewMethod }}</div>

            <div id="resultStyle">Sorte: {{ searchRes.style }}</div>

            <div id="resultURL">
                <br><a href="{{searchRes.url}}" target="_blank">Zum Rezept</a>
            </div>
        </div>
        <button (click)="loadMore()" *ngIf="searchResults.hits.length < searchResults.aggs.num_hits" id="loadMoreButton">Mehr
            Ergebnisse</button>
    </div>
</div>