#search-form {
    margin: 20%;
    padding: 20px;
    margin: 3%;
    align-content: center;
    border:1px solid rgba(196, 132, 14, 0.363);
    border-radius: 5px;
    
}

label, input {
    display: block;
    font-size: x-large;
}

.input {
    margin-bottom: 20px;
    margin-top: 4px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 4px;
}
.input:focus {
    outline: none;
    background-color: lightgray
}