#outerDiv  {
    display: flex;
}

#search-form {
    padding: 40px;
    margin: 3%;
    align-content: center;
    border: 3px solid rgba(233, 155, 10, 0.644);
    border-radius: 10px;
    
}

label, input, select {
    display: block;
    font-size: large;
}

#searchInput {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 4px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 4px;
}

#searchInputLabel {
    font-size: xx-large;
    font-weight: 500;
}

.input {
    margin-bottom: 20px;
    margin-top: 4px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 4px;
}
.input:focus {
    outline: 2px solid black;
}

#faCaretRight:focus {
     animation: rotate 1s ease-in-out forwards;
}

 @keyframes rotate {
     from { transform: rotate(0deg)}
     to { transform: rotate(90deg)}
 }

#submitButton {
    font-size: large;
    border: 1px solid black;
    border-radius: 5px; 
    background-color: transparent;
    
}
#submitButton:hover {
    border-radius: 5px;
    background-color: rgba(233, 233, 233, 0.938);
    
}

#formDiv{
    position: sticky;
}

#method {
    border-bottom: 1px solid black;
    border-radius: 4px;
}

.selectBrewMethod {
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 4px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 4px;
}

#searchResults{
    margin: auto;
}

.searches {
    margin: 2%;
    padding: 20px;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 15px;
}

.searches:hover {
    outline-color:3px  blue;
}

#resultName {
    font-size: xx-large;
    font-weight: 500;
}
 #resultABV {
     margin-top: 0px;
     margin-right: 0px;
 }

 #resultURL{
     border-top: 1px solid black;
     padding: 10px;
     margin: 2%;
 }